/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */


/**
 * Override default thickbox sizes
 */
body {

  &.wp-admin.profile-php,
  &.wp-admin.user-edit-php {

    /**
     * Thickbox modal
     */
    #TB_window {
      margin-left: 0 !important;
      width: calc(100vw - 10px) !important;
      //width: 100% !important;
      margin-top: -220px;
      transform: translate(-50%, 0);
      max-width: 600px;

      @media only screen and (max-width: 480px), screen and (max-height: 400px) {
        width: 100% !important;
        max-width: 100%;
        //height: 100% !important;
        //margin-top: 0 !important;
        //transform: translate(-50%, -50%);
      }

      * {
        box-sizing: border-box;
      }
    }

    /**
     * Modal Content
     */
    #TB_ajaxContent {
      width: 100% !important;
      height: auto !important;
      padding: 0;

      @media only screen and (max-width: 480px), screen and (max-height: 400px) {
        //height: 100% !important;
      }
    }

    /**
     * Header
     */
    #TB_title {
      display: flex;
      flex-direction: row;
      height: auto;
    }

    /**
     * Header Title
     */
    #TB_ajaxWindowTitle {
      padding: 0 16px;
      color: #23282d;
      font-weight: 600;
      font-size: 22px;
      line-height: 2.27272727;

      @media only screen and (max-width: 480px) {
        //font-size: 18px;
        //line-height: 2.22222222;
      }
    }

    /**
     * Header close button
     */
    #TB_closeWindowButton {
      width: 50px;
      height: 50px;
      position: unset;
      text-align: center;
      border-left: 1px solid #ddd;
      color: #72777c;
      background-color: transparent;
      transition: color .1s ease-in-out, background .1s ease-in-out;

      @media only screen and (max-width: 480px) {
        //width: 40px;
        //height: 40px;
      }

      &:hover {
        background: #ddd;
        border-color: #ccc;
        color: #000;
        box-shadow: none;
        outline: 2px solid transparent;
        outline-offset: -2px;
      }

      &:focus, &:hover {

        .tb-close-icon {
          color: inherit;
          -webkit-box-shadow: none;
          box-shadow: none;
        }
      }

      .tb-close-icon {
        display: inline-block;
        position: unset;

        &:before {
          content: "\f335"
        }
      }
    }

    /**
     * Thickbox content
     */
    .leira-avatar-modal {
      height: 100%;

      /**
       * Croppie
       */
      .croppie-container {
        .cr-viewport,
        .cr-resizer {
          box-shadow: 0 0 2000px 2000px rgba(255, 255, 255, 50%);
          border: 2px dashed #000000ad;
        }

        .cr-slider-wrap {
          //margin: 0;
        }
      }

      .leira-avatar-modal-footer {
        padding: 13px 16px;
        border-top: 1px solid #ddd;
        background: #f3f3f3;
        display: flex;
        justify-content: flex-end;

        button {
          margin-bottom: 0;

          &[data-leira-avatar="close"] {
            margin-right: auto;
          }

          &:not(:first-child) {
            margin-left: 5px;
          }
        }
      }
    }

    /**
     * Custom admin styles
     */
    &.wp-core-ui {
      .button-delete {

        color: #a00;
        border-color: #a00;
        background-color: transparent;

        &:hover,
        &:active,
        &:focus {
          color: #fff;
          background-color: #dc3232;
          border-color: #dc3232;
          box-shadow: none;
        }
      }
    }
  }
}

