/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.tb-close-icon {

}

#TB_window #TB_ajaxContent {
  padding: 0;
}

#TB_closeWindowButton {
  width: 50px;
  height: 50px;
}

#leira-avatar-modal {
  .modal-dialog {
    max-width: 500px;
  }
}

//variables
$white: #fff !default;
$black: #000 !default;
$line-height-base: 1.5 !default;
$border-width: 1px !default;
$border-color: #ddd !default;
$border-radius: 0 !default;
$border-radius-lg: 0 !default;
$border-radius-sm: 0 !default;
$transition-base: all .2s ease-in-out !default;
$transition-fade: opacity .15s linear !default;
$transition-collapse: height .35s ease !default;

//z-index
$zindex-modal-backdrop: 104000 !default;
$zindex-modal: 105000 !default;

//modal
$modal-inner-padding: 1rem !default;
$modal-dialog-margin: .5rem !default;
$modal-dialog-margin-y-sm-up: 1.75rem !default;
$modal-title-line-height: $line-height-base !default;

$modal-content-color: null !default;
$modal-content-bg: $white !default;
$modal-content-border-color: rgba($black, .2) !default;
$modal-content-border-width: $border-width !default;
$modal-content-border-radius: $border-radius-lg !default;
$modal-content-box-shadow-xs: 0 1px 20px 5px rgba(0, 0, 0, .1) !default;
$modal-content-box-shadow-sm-up: 0 1px 20px 5px rgba(0, 0, 0, .1) !default;

$modal-backdrop-bg: #000 !default;
$modal-backdrop-opacity: .7 !default;
$modal-header-border-color: $border-color !default;
$modal-footer-border-color: $modal-header-border-color !default;
$modal-header-border-width: $modal-content-border-width !default;
$modal-footer-border-width: $modal-header-border-width !default;
$modal-header-padding-y: 1rem !default;
$modal-header-padding-x: 1rem !default;
$modal-header-padding: $modal-header-padding-y $modal-header-padding-x !default; // Keep this for backwards compatibility

$modal-xl: 1140px !default;
$modal-lg: 800px !default;
$modal-md: 500px !default;
$modal-sm: 300px !default;

$modal-fade-transform: translate(0, -50px) !default;
$modal-show-transform: none !default;
$modal-transition: transform .3s ease-out !default;

@import 'modal';

#leira-avatar-modal {
  * {
    box-sizing: border-box;
  }
}

.wp-admin {

  .modal-content {
    background-clip: border-box;
    margin: 5px;
    border: 0;
  }

  .modal-header {

    .close {
      border-top: 0;
      border-right: 0;
      border-bottom: 0;
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 2em;
      padding: 0;
      cursor: pointer;
    }
  }

  .modal-body {
    overflow: hidden;
    padding: 0;
    border: 0;
  }

  .modal-footer {
    padding: 10px 10px;
    border-top: 1px solid #eee;
    background-color: #f3f3f3;
  }
}